# Qt build folders
build-*/
debug/
release/
x64/

# Qt user files (переменные среды, пути, сессии)
*.user
*.user.*
*.pro.user
*.pro.user.*

# Compiled objects
*.o
*.obj
*.pdb
*.ilk
*.lib
*.dll
*.exe

# MOC, UIC, QRC
moc_*.cpp
ui_*.h
qrc_*.cpp

# Makefiles
Makefile
Makefile.Debug
Makefile.Release

# Temp/backup
*~
*.bak
.DS_Store
Thumbs.db
